.vux-loading {
  width: 100%;
  height: 100%;

  .weui-toast {
    width: 100% !important;
    height: 100%;
    position: fixed;
    top: 0 !important;
    left: 50%;

    .weui-loading {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto !important;
    }
  }
}
