.weui-panel__hd {
  padding: 0.14rem 0.15rem 0.1rem !important;
  color: #999999 !important;
  font-size: 0.16rem !important;
}

.weui-panel__bd {
  font-size: 0.13rem !important;
}

.weui-panel__ft {
  .weui-cell_link {
    color: #586C94 !important;
    font-size: 0.14rem !important;
  }
}

